# Classification of pengiuns from the Palmer Archipelago

After looking through various websites to find a good dataset for this project I stumbled upon this one.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv("penguins_size.csv")

In [7]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [8]:
df.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [9]:
df.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [11]:
print(len(df['species'].unique()))
df['species'].unique()

3

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [13]:
print(len(df['island'].unique()))
df['island'].unique()

3

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [14]:
print(len(df['sex'].unique()))
df['sex'].unique()

4

array(['MALE', 'FEMALE', nan, '.'], dtype=object)